@model IEnumerable<OnlineAdsManagementSystem.Models.FilteredPropertiesOfMainCategory>

@{
    ViewData["Title"] = "ViewMainCategories";

    if (TempData["EditMcSuccess"]!=null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong> @TempData["EditMcSuccess"] </strong>

            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    if (TempData["DeleteMc"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong> @TempData["DeleteMc"] </strong>

            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}



<div class="d-flex justify-content-center align-items-center" style="min-height: 75vh;">
    <div class="card bg-dark mt-5 " style="width: 30rem; height: auto;">
        <h1 class="col d-flex justify-content-center m-3 text-white"> Main Categories</h1>

        <div class=" col d-block justify-content-center border-5 border-dark">
            @if (Model == null || !Model.Any())
            {
                <h5 style=" text-align:center; color:white">No One Has Shown Interest yet</h5>
            }
            @foreach (var item in Model)
            {

                <div class="col d-flex justify-content-center m-3 ">
                    <div class="card mb-4" style="width: 20rem; height:auto">


                        <div class="card-body">


                            <div class="col d-flex flex-column align-items-center">
                                <p class="card-text ">
                                    <span style="color:black; font-weight:600; ">Main Category ID</span> : @Html.DisplayFor(modelItem => item.mcid)
                                    <br />
                                    <span style="color:black; font-weight:600; ">Main Category Name</span>: @Html.DisplayFor(modelItem => item.mcname)
                                    <br />
                                    <a asp-action="EditMainCategories" asp-route-id="@item.mcid">Edit</a> |
                                    @* <a asp-action="Details" asp-route-id="@item.mcid">Details</a> | *@
                                    <a asp-action="DeleteMc" asp-route-id="@item.mcid">Delete</a>
                                </p>

                            </div>


                        </div>


                    </div>
                </div>

            }

        </div>
    </div>
</div>


<div>
    <a style="display: inline-block; padding: 10px 20px; background-color: #ff3333; color: white; text-decoration: none;
              text-shadow: 2px 2px 2px black; font-weight: 800; border-radius: 8px; text-align: center;"
       asp-controller="Home" asp-action="AdminDashboard">
        Back to Dashboard
    </a>
</div>



@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mcid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mcname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.mcid)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.mcname)
            </td>
            <td>
                    <a asp-action="EditMainCategories" asp-route-id="@item.mcid">Edit</a> |
                
                    <a asp-action="DeleteMc" asp-route-id="@item.mcid">Delete</a>
            </td>
        </tr>
}

<div>
    <a asp-controller="Home" asp-action="AdminDashboard">Back to List</a>
</div>
    </tbody>
</table>
 *@